.confirmation-container {
  max-width: 300px; /* Ajusta el ancho máximo según necesites */
  margin: 20px auto; /* Centra el componente (para ejemplo) */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen a los hijos */
}

.btn-outline-success {
  color: #20c997 !important; /* Color similar al borde turquesa */
  border-color: #20c997 !important;
}

.btn-outline-success:hover {
  background-color: #20c997 !important;
  color: white !important;
}
