<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AlertasUQ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <!-- Dropdown Categoría -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categoría
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" [routerLink]="['/panel/categoria/listar']" routerLinkActive="active">Listar categorías</a>
              </li>
            </ul>
          </li>
  
          <!-- Listar usuarios -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/panel/listarAllReportes']" routerLinkActive="active">gestionar reportes</a>
          </li>
  
          <!-- Generar reporte -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/panel/estadisticas']" routerLinkActive="active">Generar reporte</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/panel/user/ver']" routerLinkActive="active">Mi cuenta</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>